.EntreRios {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;           /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.EntreRios:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Salta {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #198527;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Salta:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Jujuy {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Jujuy:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Formosa {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Formosa:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Misiones {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Misiones:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Chaco {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Chaco:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Corrientes {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Corrientes:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Catamarca {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Catamarca:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.La_Rioja {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.La_Rioja:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.San_Juan {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.San_Juan:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Mendoza {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Mendoza:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Neuquen {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Neuquen:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Chubut {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Chubut:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Rio_Negro {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #fdfdfd;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Rio_Negro:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Santa_Cruz {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Santa_Cruz:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Tierra_del_Fuego {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Tierra_del_Fuego:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Buenos_Aires {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Buenos_Aires:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.C_BS_AS {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.C_BS_AS:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Santa_Fe {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Santa_Fe:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Tucuman {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Tucuman:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.SDE {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.SDE:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.San_Luis{
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.San_Luis:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.La_Pampa {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.La_Pampa:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}

.Cordoba {
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    fill: #851919;           /* Color por defecto */
    stroke: #ffffff;            /* Borde */
    stroke-width: 0.5;
    transition: fill 0.3s;   /* Suaviza el cambio de color */
}

.Cordoba:hover {
    fill: #007bff;           /* Color al pasar el mouse */
    cursor: pointer;        /* Mantiene el cursor de puntero */
}