html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(to bottom right, rgba(2, 2, 2, 0.712), #d36464); /* Fondo oscuro tipo gradient */
  display: flex;
  flex-direction: column;
}

svg {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.titulo-principal {
  font-size: 48px;          /* Tamaño del texto */
  color: #ffffff;           /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente */
  text-align: center;       /* Centrado */
  font-weight: bold;        /* Negrita */
  text-transform: uppercase; /* Todo en mayúsculas */
  margin-top: 20px;         /* Espaciado arriba */
  letter-spacing: 2px;      /* Espaciado entre letras */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* Sombra */
}

.subtitulo-principal {
  font-size: 24px;             /* Tamaño más chico que el h1 */
  color: #cccccc;              /* Un tono más suave */
  font-family: 'Arial', sans-serif;
  font-weight: 300;            /* Fuente más liviana */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}


/* Container 2 */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg, #fffffff5 0%, #020202a9 100%);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.map-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

