html, body {
  height: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  overflow: visible; /* <- evita el scroll */
}

.form-inline{
    display: inline-flex;
}

.main-container{
    height: 100%;
    width: 100% ;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.main-container > .hero is-danger{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

.login-background {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.input::placeholder {
    color: #4a4a4a !important;
    opacity: 1;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
footer a {
    color: #130d0d !important;
    text-decoration: none;
}
/* estilos.css */
.provincia {
  fill: #cccccc;
  stroke: #000;
  transition: fill 0.2s;
}

.provincia:hover {
  fill: #ff6347;
  cursor: pointer;
}
.provincia.seleccionada {
  fill: #ff6347;
  stroke: #000;
}
